[Unit]
Description=HA PC Remote
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/ha-pc-remote
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
